<% @drummers.each do |drummer| %>
  <div class="col">
    <div class="card h-100">
      <div class="card-header text-muted">
        <% genre_names = drummer.genres.map(&:name).join(', ') %>
          <%= genre_names %>
      </div>

      <div class="card-body">
        <h5 class="card-title">
          <%= drummer.name %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <% artist_names = drummer.artists.map(&:name).join(', ') %>
            <%= artist_names %>
        </h6>
      </div> 
      <div class="card-footer">
        <%= link_to (t'defaults.show'), drummer_path(drummer), class: "btn btn-info btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
