<section>
  <div class="container">
    <h3 class="pt-2"><%= t('.title') %></h3>
    <%= turbo_frame_tag "drummers-page-#{@drummers.current_page}" do %>
    <div class="row row-cols-1 row-cols-md-3 g-3 pt-3">
      <%= render 'drummers' %>
    </div>
      <%= turbo_frame_tag "drummers-page-#{@drummers.next_page}", loading: :lazy, src: path_to_next_page(@drummers) %>
    <% end %>
  </div>
</section>
