<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div>
    <p><%= @user.name %>様</p>
    <p>メールアドレスの変更を受け付けました。</p>
    <p>メールアドレス変更の確認をお願いいたします。</p>
    <p>以下のリンクをクリックして、新しいメールアドレスを確認してください。</p>
    <p><%= link_to "メールアドレスの変更を確認する", @url %></p>
    <p>※このメールに心当たりがない場合は、お手数ですが破棄してください。</p>
  </div>
</body>
</html>
