<%= bootstrap_form_with model: [@post, @comment],local: true do |f| %>
  <div class="card">
    <div class="card-body"> 
     <%= f.text_field :body, class: 'form-control' %>
     <% if !current_user.nil? %>
       <div id="current-user-info" data-user-id="<%= current_user.id %>"></div>
     <% end %>
     <%= f.submit 'コメントする', class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>
