<% if params[:q].present? && @drummers.any? %>
  <div class="col-lg-7" >
    <%= turbo_frame_tag "drummers-page-#{@drummers.current_page}" do %>
      <div class="row row-cols-1 row-cols-md-3 g-3 pt-2">
        <%= render partial: 'drummers/drummers' %> 
      </div>
    <%= turbo_frame_tag "drummers-page-#{@drummers.next_page}", loading: :lazy, src: path_to_next_page(@drummers) %>
    <% end %>
  </div>
<% elsif params[:q].present? %>
  <div class="col-lg-7 pt-8 text-center">
    <p><%= t('defaults.message.no_result') %></p>
  </div>
<% else %>
  <div class="col-lg-7" ></div>
<% end %>
