<section>
    <div class="container pt-5">
      <div class="row pt-2">
        <div class="col-lg-5 px-3">
          <div class="overflow-hidden p-fixed"> 
            <h3><%= t('.title') %></h3>
            <div  class="small pt-3">
              <%= simple_format(h(t('.text'))) %>
            </div>
              <%= render 'form' %>
          </div>
        </div>
          <%= render 'result' %> 
      </div>
    </div>
</section>
