<section>
  <div class="container">
    <div class="pt-5">
      <div class="row">
        <div class="col-lg-3">
          <%= render 'side_menu' %>
        </div>
        <div class="col-lg-9">
          <div class="container mt-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h4 class="border-bottom">パスワード変更</h4>
                </div>
                <p>現在のメールアドレス: <%= @user.email %></p>
                <%= link_to 'キャンセル', account_setting_path(current_user), class: 'btn btn-outline-secondary' %>
                <%= link_to 'パスワードリセット用リンクの送信', send_password_reset_link_account_settings_path, class: 'btn btn-info', data: { turbo_method: :post } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
