<main>
  <section>
    <div class="container">
      <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="col-lg-5 px-3">
          <div class="overflow-hidden">
            <h3 class="fw-medium" data-zanim-xs='{"duration":1.5,"delay":0.1}' >Drummer Tracker</h3>
          </div>
          <div class="text-content overflow-hidden">
            <div class=data-zanim-xs='{"duration":1.5,"delay":0.1}'>
              <p class="top-text">様々な楽曲を支える楽器「ドラム」</p>
              <p class="top-text">操るプレーヤーは様々な個性を持っています。</p>
              <p class="top-text">そんな偉大なドラマー達を見つけてみませんか？</p>
            </div>
          </div>
          <div class="mt-2" data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
            <%= link_to "ドラマーを探す", search_drummers_path, class: "btn btn-dark hvr-sweep-top me-2" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
