<main>
  <section>
    <div class="jumbotron">
        <h1>音楽のリズム、新たな出会いを。</h1>
        <p class="lead">才能あるドラマーを探し、リズムの世界へダイブしよう。</p>
    </div>
    <div class="container features">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="feature-icon">
            <i class="bi bi-search"></i>
          </div>
          <h3 class="feature-title">ドラマー検索</h3>
          <p class="feature-description">アーティスト名やジャンルから<br>理想のドラマーを見つけ出します。</p>
        </div>
        <div class="col-md-4">
          <div class="feature-icon">
            <i class="bi bi-heart"></i>
          </div>
          <h3 class="feature-title">おすすめ掲示板</h3>
          <p class="feature-description">音楽愛好者のおすすめドラマー情報を<br>シェアしましょう。</p>
        </div>
        <div class="col-md-4">
          <div class="feature-icon">
            <i class="bi bi-file-earmark-text"></i>
          </div>
          <h3 class="feature-title">ドラマー診断</h3>
          <p class="feature-description">ログインして診断<br>お気に入りのドラマーを見つけましょう。<br>（SNS投稿と保存機能は近日実装予定）</p>
        </div>
      </div>
    </div>
    <div class="cta container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="border-bottom border-5">
            <h2 class="cta-title">アカウントを作成して、以下の機能を利用しよう！</h2>
            </div>
            <ul class="cta-list">
              <li><i class="bi bi-check-circle"></i> おすすめドラマーの投稿</li>
              <li><i class="bi bi-check-circle"></i> お気に入りドラマーの診断</li>
              <li><i class="bi bi-check-circle"></i> 診断結果の保存とSNS投稿（近日実装予定）</li>
              <!-- 他の特別な機能をここに追加 -->
            </ul>
            <%= link_to 'アカウント作成', new_user_path, class: "btn btn-lg btn-light cta-button" %>
          </div>
      </div>
    </div>
  </div>
  </section>
</main>
