<% flash.each do |message_type, message| %>
  <div class="flash-wrapper" data-controller="flash">
    <div data-flash-target="messages1" class="alert alert-<%= message_type %>"><%= message %></div>
  </div>
<% end %>