<footer class="footer navbar-right py-2 position-absolute w-100 bottom-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-auto mb-1 mb-md-0">
        <ul class="footer-list">
          <li> <p>&copy; DrummerTrucker All Rights Resaved<span class="mx-2">|</span><span class="text-900">2023 </span></p></li>
          <li>
            <%= link_to "利用規約", static_page_path('terms'), class: "text-90", target: "_blank" %>
            <span>|</span>
            <%= link_to "プライバシーポリシー", static_page_path('privacy'), class: "text-90", target: "_blank" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<a class="btn-back-to-top" href="#top">
  <%= image_tag "upload-arrow.svg", width: 8, alt: "" %>
</a>
