<section>
  <div class="container">
    <%= turbo_frame_tag 'post-show',data: {turbo_action: :advance} do %>
      <div class="row">
        <div class="col-lg-6 pt-3">
          <div class="p-fixed">
              <%= render partial: 'shared/side_menu' %>
          </div>
        </div>
        <div class="col-lg-6 justify-content-center">
          <%= render partial: 'posts/post' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
