<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <% if logged_in? %>
          <%= turbo_frame_tag 'post_new', src: new_post_path, target: 'posts' %>
        <% end %>
        <%= turbo_frame_tag "posts-page-#{@posts.current_page}" do %>
          <div id = "posts">
            <%= render 'post_cards' %>
          </div>
          <%= turbo_frame_tag "posts-page-#{@posts.next_page}", loading: :lazy, src: path_to_next_page(@posts) %>
        <% end %>
      </div>

      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
</section>
