<section class="hero">
  <div class="container text-start">
    <h1 class="hero-title">おすすめ診断</h1>
    <p class="hero-description">あなたにぴったりのドラマーを見つけよう！</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="border-bottom border-5">
      <h3>あなたにおすすめのドラマー3選</h3>
    </div>
    <div class= "pt-4">
      <%= render partial: "drummers/drummers",locals: { drummers: @drummers } %>
    </div>
    <div class="pt-4 text-start">
      <% @drummers.each do |drummer| %>
        <% @drummers_name << drummer.name %>
      <% end %>
      <%= link_to(
        "https://twitter.com/share?url=https://drummer-tracker.com&text=あなたへのおすすめドラマーは...%0a%0a#{@drummers_name.join(', ')}%0a%0a",
        class: "btn bg-twitter boeder-twitter text-white btn-sm"
      ) do %>
        <i class="bi bi-twitter"></i> Twitterでシェア
      <% end %>
      <%= link_to "初めから診断する", question_path(1), class: "btn btn-success btn-sm" %>
      <%= link_to "TOPに戻る", questions_path, class: "btn btn-light btn-sm" %>
    </div>
  </div>
</section>
